<h1 class="header">Update Book Review Form</h1>

<p id="by">Edit this book review on your bookshelf!</p><br>

<%= render "form" %>

<br><p><%= button_to "Delete This Review", @userbookreview, method: :delete %></p>