<h1 class="header">Bookshelves</h1><br>
<p>Check out other Reviewer's bookshelves:</p><br>

<div class="user">
<ul>
<% @users.each do |user| %>
    <li><%= link_to user.name, user %></li>
<% end %>
</ul>
</div>